.vs/
.vscode/
.idea/
.generated/
x64/

bin/
obj/
Debug/
out/
cmake-build-*/

packages/
logs/
dist/
node_modules/


/-/libs/nuget/*/

*.user
*-lock.json
*.nupkg
!*.csproj.DotSettings
!*.sln.DotSettings
!*.csproj

/global.json

