<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<config>
		<!-- <add key="globalPackagesFolder" value="-/.nuget" /> -->
	</config>
	<packageSources>
		<clear />

		<!-- <add key="zit.com" value="-/libs/nuget"/> -->
		<!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> -->
		<!-- -->
		<add key="Local.Avalonia" value="E:/ZC.CORE/-/libs/Avalonia" />
		<add key="Local.Common" value="E:/ZC.CORE/-/libs/Common" />
		<add key="azure.cn" value="https://nuget.cdn.azure.cn/v3/index.json" />
	</packageSources>
	<packageRestore>
		<!-- <add key="enabled" value="True" /> -->
		<!-- <add key="automatic" value="True" /> -->
	</packageRestore>
</configuration>